<nav class="navbar navbar-expand-lg navbar-light bg-light border">
  <div class="container-fluid d-flex">
    <div>
      <a class="btn-control" (click)="changeState()">
        <span class="material-icons">
          {{menu}}
          </span>
      </a>
    </div>
    <div class="mx-auto">
      <a class="navbar-brand font-weight-bold" href="#">Mi Super Tienda</a>
    </div>
    <div class="profile">
      <a class="btn-control" href="#/login">
        <img src="assets/img/profile.png" alt="profile" class="profile rounded-circle" height="35px" width="35px">
      </a>
    </div>
  </div>
</nav>
