<div class="wrapper">
  <div class="cont">
    <div class="form">
      <form action="">
        <h1>Por Favor Inicie Sesión</h1>
        <div>
          <input type="text" class="user" placeholder="Username" />
          <!-- <p class="text-center text-danger error">Este campo es requerido</p> -->
        </div>
        <div>
          <input type="password" class="pass" placeholder="Password" />
          <!-- <p class="text-center text-danger error">Este campo es requerido</p> -->
        </div>
        <button class="login bg-main">Login</button>
      </form>
    </div>
    <h2 class="mb-2"> Bienvenido / Wellcome </h2>
  </div>
</div>
