<div class="wrapper">
  <div class="cont">
    <div class="form">
      <form>
        <h1>Por Favor Inicie Sesión</h1>
        <div>
          <input type="email" name="email" class="user" placeholder="Email"
          />
        </div>
        <div>
          <input type="password" name="password" class="pass" placeholder="Password"
          autocomplete="current-password">
        </div>
        <div class="d-flex justify-content-center">
          <a href="#/mi-tienda/clientes" class="login  btn bg-main">Login</a>
        </div>
      </form>
    </div>
    <h2 class="mb-2"> Bienvenido / Wellcome </h2>
  </div>
</div>
