<ng-container class="modal-container">
  <!-- header -->
  <div class="modal-header">
    <h4 class="modal-title">Ingresar un Nuevo Cliente</h4>
    <button type="button" class="close pill" aria-label="Close" (click)="activeModal.dismiss('cancelled')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <!-- header -->
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="guardar()" id="CreateForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre Del Cliente *</label>
        <input type="text" class="form-control pill" id="nombre" name="nombre"
         placeholder="Nombre Del Cliente"  formControlName="nombre"  >
        <p class="text-danger ml-1" *ngIf="nombreNoValido">
          Este campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Apellido Del Cliente *</label>
        <input type="text" class="form-control pill" id="apellidos" name="apellido"
         placeholder="Apellido Del Cliente" formControlName="apellidos">
        <p class="text-danger ml-1" *ngIf="apellidoNoValido">
          Este campo es requerido
        </p>
      </div>
    </form>
    <div class="text-danger mt-5 text-center" role="alert" *ngIf="error">
      El formulario no esta completo!
    </div>
  </div>
  <!-- footer -->
  <div class="modal-footer">
    <button type="submit" form="CreateForm" class="btn btn-outline-success pill">Crear</button>
    <button type="button" class="btn btn-outline-dark pill" (click)="activeModal.dismiss('cancelled')"
     >Cancelar</button>
  </div>
  <!-- footer -->
</ng-container>
