/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
/*Custon Colors*/
$main : #0D703A;
$secondary: #7CBF4B;
$ternary: #79C15D;

/*General Setup*/
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

/*backgrounds*/
.bg-main{
  background-color: $main;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-ternary{
  background-color: $ternary;
}
/*text*/
.text-main{
  color: $main;
}

.text-secondary{
  color: $secondary;
}

.text-ternary{
  color: $ternary;
}
/*buttoms*/
.pill{
border-radius: 26px;
}
