/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './vars';
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

/*General Setup*/
body, html {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #E9ECEF;
}

/*backgrounds*/
.bg-main{
  background-color: $main;
}

.bg-secondary{
  background-color: $secondary;
}

.bg-ternary{
  background-color: $ternary;
}

.bg-gradient{
 background-color: $gradient;
}
/*text*/
.text-main{
  color: $main;
}

.text-secondary{
  color: $secondary;
}

.text-ternary{
  color: $ternary;
}

/*buttoms*/
.pill{
border-radius: 26px;
}

.btn-ico{
  border: none;
  :hover{
    font-size: 1.5rem;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
}
