<ng-container class="modal-container">
  <!-- header -->
  <div class="modal-header">
    <h4 class="modal-title">Ingresar un Nuevo Producto</h4>
    <button type="button" class="close pill" aria-label="Close" (click)="activeModal.dismiss('cancelled')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   <!-- header -->
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="guardar()" id="CreateForm">
      <div class="form-group">
        <label for="nombre">Nombre Del Producto *</label>
        <input type="text" class="form-control pill" id="nombre" name="nombre"
         placeholder="Nombre Del Producto"  formControlName="nombre"  >
        <p class="text-danger ml-1" *ngIf="nombreNoValido">
          Este campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="descripcion">Descripcion del Producto*</label>
        <textarea class="form-control pill"  id="descripcion" rows="3" name="descripcion"
        placeholder="Agrega una breve descripción de al menos 8 caracteres" formControlName="descripcion">
        </textarea>
        <p class="text-danger ml-1" *ngIf="descripcionValida">
          Este campo es requerido
        </p>
      </div>

      <div class="form-group">
        <label for="precio">Precio del Producto*</label>
        <input type="number" class="form-control pill w-25" id="precio" name="precio"
         placeholder="0.00"  formControlName="precio"  >
        <p class="text-danger ml-1" *ngIf="precioNoValido">
          El precio es necesario.
        </p>
      </div>
    </form>
    <div class="alert alert-danger d-flex justify-content-center" role="alert" *ngIf="serverError">
      Ocurrio un error en Servidor Por favor intenta mas tarde.
    </div>
    <div class="text-danger mt-5 text-center" role="alert" *ngIf="error">
      El formulario no esta completo!
    </div>
  </div>
  <!-- footer -->
  <div class="modal-footer">
    <button type="submit" form="CreateForm" class="btn btn-success pill">Crear</button>
    <button type="button" class="btn btn-outline-dark pill" (click)="activeModal.dismiss('cancelled')"
     >Cancelar</button>
  </div>
  <!-- footer -->
</ng-container>
